<section class="w-full h-[100vh] bg-[#00042c]">
    <div class="flex flex-col h-full justify-center items-center text-white font-bold gap-16">
        <p class="text-6xl">Proveedora de Servicios <br><span class="pl-[16rem] text-5xl">para Automotores S.A</span></p>
        <p class="text-5xl">Servicio de <span class="text-6xl text-[#ff8018]">Calidad</span></p>
    </div>
    <dir>
        <img src="" alt="">
    </dir>
</section>
