<nav class="flex justify-between place-items-center py-6 px-6 bg-white">
  <p class="text-2xl">ProveServicios S.A</p>
  <ul class="flex gap-12 text-[18px]">
    <li>Inicio</li>
    <li>Quienes Somos</li>
    <li>Servicios</li>
    <li>Políticas</li>
    <li>Contáctanos</li>
  </ul>
</nav>
